/* General setup */
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Game container setup */
#game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

/* Tutorial section */
#tutorial {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #1e1e1e;
    color: #f0f0f0;
    text-align: center;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Minimap section */
#minimap {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #1e1e1e;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#map-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    height: 120px; /* Define height explicitly */
}

/* Game screen (description) */
#game-screen {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #1e1e1e;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 250px; /* Max height for mobile, can scroll */
    overflow-y: auto;
}

/* Interaction buttons section */
#interactions {
    display: grid;
    grid-template-areas:
        ". north ."
        "west . east"
        ". south .";
    gap: 10px;
    margin-bottom: 20px;
    width: 150px;
}

#north {
    grid-area: north;
}

#south {
    grid-area: south;
}

#east {
    grid-area: east;
}

#west {
    grid-area: west;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Inventory section */
#inventory {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1e1e1e;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 150px; /* Max height for mobile, can scroll */
    overflow-y: auto;
}

/* Mute button */
#mute-button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
